<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
    <hr>
    <div class="container">
        <div>
            <h2>Tambola Number Generator</h2>
        </div>
        <div>
            <table class="table table-dark">
                <tr>
                    {% for i in range(1,10) %}
                    <tr>
                        {% for j in range(1,11) %}
                        {% if j + (i-1)*10 in nums %}
                        <td class="bg-danger">
                        {% else %}
                        <td>
                        {%- endif -%}
                        {{ j + (i-1)*10}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
        <div>
            <form action="/next" method="post">
                <button name="forwardBtn" type="submit" class="btn btn-primary">Generate Next Number</button>
            </form>
            <button onclick="window.location.href='/startnew'" class="btn btn-success">Start New Game</button>
        </div>
        <div>
            <h3>Sequence of numbers being called</h3>
            <h4 id="nums">{{nums}}</h4>
        </div>

        <div>
            <div><button onClick="window.location.href='/generateTicket'" class="btn btn-warning">Generate New Ticket</button></div>
            <hr>
            <div class="bg-success" style="width:50%">
                <table class="table table-bordered">
                    {% for line in ticket %}
                    <tr>
                        {% for n in line %}
                            <td>{{n}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</body>

</html>